<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/layout.css" />
    <title>Member</title>
</head>
<body>
    <div class="welcome">歡迎光臨，這是會員頁</div>
    <div class="content">恭喜您，成功登入系統</div>
    <div class="back">
        <form action="/signout">
            <button class="backIndex" type="submit" href="" name="logout">登出系統</button>
        </form>
    </div>
</body>
</html>